@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;763;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  
}
/* The fonts  */
 .barlow{
    font-family: 'Barlow', sans-serif;
}
.fraunces{
    font-family: 'Fraunces', serif;  
} 

/* The header containing the navigation links  */
.box-a{
    background-image: url(./images/desktop/image-header.jpg);
    height: 46em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
/* The Nav elements  */
.navbar-container{
    width:100%;
    display: flex;
    padding: 30px 40px 60px;
    justify-content: space-between;
}
/* The navigation links and the button on the right  */
.nav-elements{
    display: flex;
    align-items: center;
}
.nav-elements a{
    text-decoration: none;
    color: #fff;
}
.nav-elements a:hover{
    text-decoration: underline;
    font-weight:700;
}
ul{
    list-style: none;
}
li{
    margin: 0 20px;
}
/* The navigation button on the right  */
nav button{
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: 900;
    
}
nav button:hover{
    background-color: rgba(250, 245, 245, 0.4);
    color:hsl(0, 0%, 100%);
    cursor: pointer;
}
/* The heading and the and the arrow image  */

.header-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* The heading  */
.text-xl{
    font-size: 5em;
text-transform: uppercase;
margin-top: 30px;
letter-spacing: 4px;

}
/* The arrow image  */
#arrow{
    margin-top: 4em;
}
/* The second ,third and fourth  section wrapped in one div    */
.content{
    display: grid;
grid-template-areas:
'description1 image1 '
'image2 description2'
'background1 background2'
}
/* The first two secton boxes with texts  and a link  */
.description{
    padding: 10em  8em;
    line-height: 2em;
}
/* The images in the first and second column   */
.img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  /* The description components  */
  .description h2{
      font-weight: 900;
      font-size: 2em;
      line-height: 1.5em;
  }
  .description p{
      margin: 1.5em 0;
  }
  .description1 a{
      font-weight: 700;
      color: #000;
      text-decoration: underline;
      text-decoration-color:hsl(51, 100%, 49%) ;
      text-decoration-thickness:5px;
  }
  .description1 a:hover{
    font-weight: 900;
    color: #000;
    text-decoration: underline;
    text-decoration-color:hsl(51, 100%, 49%) ;
    text-decoration-thickness:7px;
}
.description2 a{
    font-weight: 700;
    color: #000;
    text-decoration: underline;
    text-decoration-color:  hsl(7, 99%, 70%);
    text-decoration-thickness:5px;

}
  .description2 a:hover{
    font-weight: 900;
    color: #000;
    text-decoration: underline;
    text-decoration-color:  hsl(7, 99%, 70%);
    text-decoration-thickness:7px;

}
.description1 { grid-area: description1;
 }
.img1 { grid-area: image1;
 }
.img2 { grid-area:image2;
 }
.description2 { grid-area: description2;
 }
.bg-img1{ grid-area: background1;
 }
.bg-img2 { grid-area: background2;
 }
 /* T he fourth section with backround images and texrs on topv */
 .bg-img1{
     background-image: url(./images/desktop/image-graphic-design.jpg);
     height: 40em;
    background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     text-align: center;
     color: hsl(167, 40%, 24%);

 }
.bg-img2{
    background-image: url(./images/desktop/image-photography.jpg);
    height: 40em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
     flex-direction: column;
     text-align: center;
     color:  hsl(198, 62%, 26%);
}
  .bg-p{
margin-top: 24em;
line-height: 25px;
  }
  .bg-img .text-md{
margin-bottom: 20px;
font-weight: 800;
font-size: 25px;
  }
  /* The box containing the testimonials  */
  /* The heading light text  */
    .text-light{
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin-top: 5em;
      color:hsl(210, 4%, 67%);
  }
/* The card container  */
.cards{
    display: flex;
    justify-content: space-around;
    margin: 3em  13em 7em;
}
.card{
text-align:center;
line-height: 30px;
}
.card img{
    border-radius: 50%;
    width: 5em;
}
.card p:nth-of-type(1){
    margin: 3em 0;
    font-weight: 500;
}
.card-mid{
margin: 0  1em;
}
.text-xs{
    font-weight: 700;
    font-size: 16px;
}
.title{
    color:hsl(232, 10%, 55%);
}
/* The fourth container with the four image  */
.box-f{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.box-f img{
   width: 25em;
}

/* The footer containing the links and icons  */

footer{
    width: 100%;
    height: 20em;
background-color: hsl(167, 40%, 75%);
text-align: center;
padding: 3em 0;
} 

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}
footer a{
color: hsl(168, 34%, 41%);
text-decoration: none;
font-weight:700 ;

}
/* hover states  */
footer a:hover{
    color: #fff;
}


img .change-color{
    margin: 5px 8px;
/* color: hsl(168, 34%, 41%); */

}
img .change-color:hover{
    fill: #fff;
}

@media only screen and (max-width: 375px){
    /* The header containing the navigation links  */
.box-a{
    background-image: url(./images/desktop/image-header.jpg);
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
/* The site logo  */
.nav-logo img{
    width: 7em;
}
/* The nav elements at the top with a button  */
.nav-elements{
    display: none;
}

/* The h1 text at the homepage  */
.text-xl{
    font-size: 3em;
    text-align: center;
}
/* The following contents containing a paragrapgh and an image beside it */
.content{
    display: grid;
    grid-template-areas:
            'image1 '
            'description1'
            'image2'
            ' description2'
            'background1' 
            'background2'

}
.description{
    text-align: center;
    max-width: 100%;
    /* font-size: 3em; */
}
  img .img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  /* The testimonial section header */
  .title{
      margin-bottom: 5em;
  }
  /* The testimonial cards  */
  .cards{
      display: flext;
      flex-direction: column;
      margin:  0;
  }
  .card{
      margin: 2em 0;
      line-height: 20px;
  }
.card p {
    margin: 1em 0;
}
}

